<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.samplecon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleCON"
        tools:ignore="ExtraText">
        <activity
            android:name=".ActivityLihatData"
            andriod:parentActivityName=".Home_Activity" />

        <activity
            android:name=".Home_Activity"
            andriod:parentActivityName=".MainActivity" />

        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LinearLay"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>